<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
    <h3> Update Voiture</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/updateVoiture/{id}(id=${voiture.id})}" th:object="${voiture}"
                      method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Série</label>
                            <input type="text" th:field="*{serie}" class="form-control"
                                   id="serie" placeholder="série" />
                        </div>
                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Date Mise en Marche</label>
                            <input type="date" th:field="*{date_mise_en_marche}" class="form-control"
                                   id="date_mise_en_marche" placeholder="Date mise en Marche" />
                        </div>

                        <div class="form-group col-md-8">
                            <label for="name" class="col-form-label">Modèle</label>
                            <select th:field="*{modele.id}" >
                                <option th:each="modele : ${listModele}"
                                        th:value="${modele.id}" th:text="${modele.libelle}"/>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Update ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>